:host {
    display: inline-block;
    width: 144px;
    height: 40px;
}

.button {
    position: inline-block;
    width: 144px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #0093D0;
    background: white;
    align-items: center;
    font-weight: 500;
    color: #0093D0;
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
}

.button > span {
    color: #0093D0;
}

.button:hover {
    background-color: none;
    cursor: pointer;
}

.button:active {
    background-color: none;
}

.button:disabled {
    background-color: white;
    border-color: #E4E4E4;
    pointer-events: none;
    color: #e4e4e4;
}